// .slide{
//   margin-top: 6px;
// }
// .zoom-in-archive {
//   animation: zoomInArchive 0.3s ease-in-out;
// }

// .zoom-in-trash {
//   animation: zoomInTrash 0.3s ease-in-out;
// }

// @keyframes zoomInArchive {
//   from {
//     transform: scale(1);
//     opacity: 0;
//   }
//   to {
//     transform: scale(2);
//     opacity: 1;
//   }
// }

// @keyframes zoomInTrash {
//   from {
//     transform: scale(1); /* Adjust as needed */
//     opacity: 0;
//   }
//   to {
//     transform: scale(2);
//     opacity: 1;
//   }
// }
.hide-icon-options {
  display: none;
}

.item-container {
  background-color: var(--ion-color-danger);
  display: grid;
}

ion-item {
  grid-column: 1;
  grid-row: 1;
}

.icon-row {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  align-items: center;
  text-align: right;
  color: #fff;
  margin-right: 20px;
}
